<footer class="footer" id="contato">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <div class="footer-logo">
          <img
            src="assets/Logo-Sem-Fundo.png"
            alt="Thiers Logo"
            class="footer-logo-img"
          />
        </div>

        <p class="footer-description">
          Soluções customizadas em tecnologia para levar seu negócio ao próximo
          nível.
        </p>
        <p class="footer-description">Siga-nos</p>
        <div class="footer-social">
          <a
            href="https://www.linkedin.com/in/wanderson-lucena-97413815b/"
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener"
            >LinkedIn</a
          >
          <a href="#" aria-label="Instagram" target="_blank" rel="noopener"
            >Instagram</a
          >
          <a href="#" aria-label="Facebook" target="_blank" rel="noopener"
            >Facebook</a
          >
        </div>
      </div>

      <div class="footer-section">
        <h4>Links Rápidos</h4>
        <ul class="footer-links">
          <li><a href="#home">Home</a></li>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#solucoes">Soluções</a></li>
          <li><a href="#depoimentos">Depoimentos</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h4>Contato</h4>
        <ul class="footer-contact">
          <li>Email: contato&#64;thiers.com.br</li>
          <li>Telefone: (11) 98253-9200</li>
        </ul>
        <a class="btn btn-primary footer-contact-btn" (click)="openWhatsApp()"
          >Fale Conosco</a
        >
      </div>

      <div class="footer-section">
        <!-- <h4>Siga-nos</h4> -->
        <!-- <div class="footer-social">
          <a
            href="https://www.linkedin.com/in/wanderson-lucena-97413815b/"
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener"
            >LinkedIn</a
          >
          <a href="#" aria-label="Instagram" target="_blank" rel="noopener"
            >Instagram</a
          >
          <a href="#" aria-label="Facebook" target="_blank" rel="noopener"
            >Facebook</a
          >
        </div> -->
      </div>
    </div>

    <div class="footer-bottom">
      <p>&copy; {{ currentYear }} - Thiers. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>
