<section class="hero" id="home">
  <div
    class="hero-background-image"
    [style.background-image]="'url(assets/banner-1.jpeg)'"
  ></div>
  <div class="hero-overlay"></div>
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title" [class.fade-in]="showContent">
        "{{ heroTitle }}"
      </h1>
      <p class="hero-description" [class.fade-in-delayed]="showContent">
        Especialista no desenvolvimento de soluções digitais, a Thiers é uma
        empresa focada em ajudar sua empresa a vender mais e se organizar usando
        tecnologia simples e acessível.
      </p>
      <a
        class="btn btn-primary"
        [class.fade-in-delayed]="showContent"
        (click)="openWhatsApp()"
        >Fale conosco</a
      >
    </div>
  </div>
</section>
